body {
    background-color: rgb(225, 177, 253);
    text-align: center;
    color: rgb(87, 121, 156);
}

a {
    text-decoration: none;
    color: darkblue;
}

ul {
    list-style: none;
    color: darkblue;
}

nav {
    width: 100%;
}

li {
    padding: 2em;
    display: inline-block;
}

footer {
    color: rgb(11, 11, 185);
}